.project-card {
  display: inline;
  margin-left: 70px;
  margin-right: 40px;
  margin-top: 20px;
  width: 30%;
  padding: 25px;
  overflow: auto;
}

.project-title {
  font-size: 22px;
  font-weight: 600;
}
.project-tags {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  padding: 4px 8px;
  background-color: aquamarine;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  overflow: auto;
}
.project-links a {
  text-decoration: none;
  color: black;
}
.project-links {
  margin-top: 6px;
  display: flex;
}
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

@media only screen and (max-width: 720px) {
  .project-card {
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 19px;
  }
  .tag {
    font-size: 17px;
  }
  .link-button {
    font-size: 17px;
  }
}
